#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ImgAu2Vid (kdialog)
Exec=imgau2vid.sh -k
Icon=applications-multimedia
Categories=AudioVideo
