#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=ImgAu2Vid (Zenity)
Exec=imgau2vid.sh -z
Icon=applications-multimedia
Categories=AudioVideo

